<div class="bio-container" fxFlex.xs="100%" fxFlex="95%">
    <table>
        <tr>
            <td>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon>face</mat-icon>About Me
                        </mat-card-title>
                    </mat-card-header>
                    <p>
                        I am a software developer specializing in full-stack development. I also have
                        more than 10 years of experience in Linux & high performance
                        computing systems administration.
                    </p>
                    <p>
                        I have a strong background developing back-end software using Java, Springboot,
                        Hibernate,
                        PostgreSQL, MySQL, Perl and Python.
                        Back-end development is where all the fun happens. Business logic, AOP, scalability,
                        CI/CD,
                        cloud deployment, and the list goes on.
                    </p>
                    <p>
                        I am proficient in front-end development using JavaScript, Angular, Bootstrap, JSP
                        Scriptlets and HTML/CSS, but my real passion
                        is for back-end development.
                    </p>
                </mat-card>
            </td>
        </tr>
        <tr>
            <td>
                <mat-expansion-panel (opened)="onExpand()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>verified_user</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>Certifications</mat-panel-description>
                    </mat-expansion-panel-header>

                    <ng-container *ngTemplateOutlet="matExpansionPanelContent"></ng-container>

                </mat-expansion-panel>
            </td>
        </tr>
    </table>
</div>

<ng-template #matExpansionPanelContent>
    <div fxLayout="row wrap" fxLayoutGap="1rem grid">

        <div fxFlex="20%" fxFlex.sm="40%" fxFlex.xs="50%" *ngFor='let cert of certs'>
            <mat-card class="mat-elevation-z0 cert-image">
                <a href='{{cert.url}}' target="_blank">
                    <img mat-card-image class="img" src="../../assets/{{cert.icon}}">
                </a>
            </mat-card>
        </div>
    </div>

</ng-template>