<div class="bio-container" fxFlex.xs="100%" fxFlex="95%">
    <!-- <mat-card class="mat-elevation-z4"> -->
    <table>
        <tr>
            <td>
                <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>face</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>Bio</mat-panel-description>
                    </mat-expansion-panel-header> -->

<mat-card>
    <mat-card-header>
        <mat-card-title><mat-icon>face</mat-icon>&nbsp;Bio</mat-card-title>
    </mat-card-header>
                    <p>
                        I am a software developer specializing in full-stack development. I also have
                        more than 10 years of experience in Linux & high performance
                        computing systems administration.
                    </p>
                    <p>
                        I have a strong background developing back-end software using Java, Springboot,
                        Hibernate,
                        PostgreSQL, MySQL, Perl and Python.
                        Back-end development is where all the fun happens. Business logic, AOP, scalability,
                        CI/CD,
                        cloud deployment, and the list goes on.
                    </p>
                    <p>
                        I am proficient in front-end development using JavaScript, Angular, Bootstrap, JSP
                        Scriptlets and HTML/CSS, but my real passion
                        is for back-end development.
                    </p>
                </mat-card>

                <!-- </mat-expansion-panel> -->
            </td>
        </tr>
        <tr>
            <td>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>verified_user</mat-icon>
                        </mat-panel-title>
                        <mat-panel-description>Certifications</mat-panel-description>
                    </mat-expansion-panel-header>

                    <div fxLayout="row wrap" fxLayoutGap="1rem grid">
                        <div fxFlex="20%" fxFlex.sm="40%" fxFlex.xs="75%">
                            <mat-card class="mat-elevation-z0 cert-image">
                                <a href="https://www.youracclaim.com/badges/ea6fb63d-ccdc-4442-bf06-be4467d36276/public_url"
                                    target="_blank">
                                    <img mat-card-image class="img" src='../../assets/oca.png'>
                                </a>
                            </mat-card>
                        </div>
                        <div fxFlex="20%" fxFlex.sm="40%" fxFlex.xs="75%">
                            <mat-card class="mat-elevation-z0 cert-image">
                                <a href="https://www.youracclaim.com/badges/c3679a2c-b013-427e-b16b-0906bd3b7a87/public_url"
                                    target="_blank">
                                    <img mat-card-image class="img" src='../../assets/ccp.png'>
                                </a>
                            </mat-card>
                        </div>
                    </div>



                </mat-expansion-panel>
            </td>
        </tr>
    </table>
    <!-- </mat-card> -->
</div>